@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
  background-attachment: fixed !important;
  margin: 0;
  padding: 0;
  height: 100vh;
}
