@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #d1d7db !important;
  background-image: linear-gradient(to bottom, #dadfdc 0%, #d1d7db 100%) !important;
  background-attachment: fixed !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

